/*Basics*/

:root {
  --main-grey: #F2F2F2;
  --main-white: #FFFFFF;
  --text-black: #000000;
  --block-blue: #81B3D2;
  --search-brown: #766357;
  --block-color: #FFFFFF;
  --std-blue: #81B3D2;
  --dark-grey: #A9A9A9;
  --academy-grey: #BDBBBC;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*Main*/

.page {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--text-black)
}

a:hover {
  color: #81B3D2;
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.page-body {
  font-family: "PTSans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--text-black);
  text-transform: uppercase;
  margin: 0 auto;
  background: var(--main-grey);

}

.promo {
  background-image: url("../img/mainpage.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  min-height: 350px;
  padding-top: 76px;
  padding-bottom: 81px;
  position: relative;
  outlinex: 5px solid rgb(50, 40, 170);
  outline-offset: -5px;
  background-color: #698592;
}

.promo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 57px;
  background: url("../img/bottom.svg") no-repeat center 0;
  background-size: cover;
  outlinex: 5px solid rgb(70, 19, 170);
  outline-offset: -5px;
}

.promo-image {
  margin: 0 auto;
  display: block;
}

/*Top*/

.main-nav {
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--block-color);
  width: 1200px;
  margin: auto;
  background-position: top center;
  outlinex: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.main-nav-link {
  color: var(--text-black);
  text-decoration: none;
  font-weight: 700;
}

.main-nav-link-active {
  color: #766357;
}

.main-nav-item {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  font-size: 14px;
}

.main-nav-item:nth-child(4n+2) .main-nav-link {
  margin-left: -23px;
}

.main-nav-item:nth-child(4n+3) {
  grid-column-start: 4;
  grid-column-end: 4;
}

.main-nav-item:nth-child(4n+3) .main-nav-link {
  margin-left: 38px;
}

.main-nav-item:nth-child(4n+4) .main-nav-link {
  margin-left: 21px;
}

.main-nav-item:nth-child(4n+4) {
  grid-column-start: 5;
  grid-column-end: 5;
}

.main-header {
  outlinex: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.site-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.main-header {
  position: relative;
}

.main-logo {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: none;
  position: absolute;
  z-index: 1;
}


/*Five reasons*/

.reasons {
  position: relative;
  z-index: 100;
}

.container {
  background-color: var(--block-color);
  width: 1200px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  margin: auto;
}

.five-reasons {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 53px;
}

.reasons-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  background-color: #EEEEEE;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list {
  display: flex;
  list-style-type: none;
  width: 1200px;
  padding-left: 0;
  margin: 0 auto;
  outlinex: 5px solid rgba(38, 16, 194, 0.79);
  outline-offset: -5px;
  padding-top: 55px;
  padding-bottom: 83px;
  width: 100%;
  background-color: #ffffff;
}

.advantages-item::before {
  content: "";
  display: block;
  width: 75px;
  height: 80px;
  background-color: red;
  margin: 0 auto;
  margin-bottom: 23px;
}

.advantages-item {
  width: 33.3%;
}

.advantages-item1::before {
  background: url("../img/icon-1.svg") no-repeat center 4px;
}

.advantages-item2::before {
  background: url("../img/icon-3.svg") no-repeat center 5px;
}

.advantages-item2 .advantages-text {
  width: 300px;
}

.advantages-item3::before {
  background: url("../img/icon-2.svg") no-repeat center 1px;
}

.advantages-item3 .advantages-text {
  width: 300px;
}

.aboutsedona {
  outlinex: 5px solid rgb(151, 19, 170);
  outline-offset: -5px;
  height: 216px;
}

.about {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  padding-top: 42.5px;
  padding-right: 365px;
  padding-left: 365px;
  padding-bottom: 44px;
  margin: 0 auto;
}

/*List section*/

.first-reason {
  background-color: #81B3D2;
  text-align: left;
  outlinex: 5px solid rgb(231, 127, 17);
  outline-offset: -5px;
  display: flex;
  min-height: 256px;
}

.first-reason-content {
  padding-bottom: 20px;
  width: 600px;
  text-align: center;
  padding-top: 45px;
  color: var(--main-white);
  box-sizing: border-box;
}

.first-reason::after {
  content: "";
  width: 100%;
  background-image: url("../img/reason1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.second-reason {
  background-color: #81B3D2;
  text-align: right;
  min-height: 256px;
  outlinex: 5px solid rgb(231, 127, 17);
  outline-offset: -5px;
  display: flex;
}

.second-reason::before {
  content: "";
  width: 100%;
  background-image: url("../img/reason2.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.second-reason-content {
  padding-bottom: 20px;
  width: 600px;
  text-align: center;
  color: var(--main-white);
  margin: 0 auto;
}


.reason-text,
.reason-number {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  width: 313px;
  margin-bottom: 23px;
}

.reason-block {
  background: #81B3D2;
  width: 400px;
  heightx: 256px;
  line-height: 21px;
  color: #FFFFFF;
}

.features {
  background: #EEEEEE;
}

.advantages-head {
  font-size: 21px;
  margin: 0 0 25px 0;
}

.advantages-text {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  margin: 0 auto;
  width: 254px;
}

.interest > p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 383px;
  padding-right: 382px;
  width: 435px;

}

.interest {
  outlinex: 5px solid rgb(151, 19, 170);
  outline-offset: -5px;
}

/*Footer*/

.contacts {
  font-family: "PTSans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.map {
  position: relative;
  z-index: 1;
}

.main-footer,
.main-footer-hotels {
  outlinex: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 100;
  margin: -130px 0 0 0;
  width: 1200px;
  height: 130px;
  margin: 0 auto;
  margin-top: -130px;
  background-color: rgba(255, 255, 255, 0.9);
}



.visit {
  margin: 0 auto;
  text-align: center;
  padding-top: 23px;
  padding-left: 126px;
}

.number {
  margin: 0 auto;
  padding: 11px 0 0 123px;
}

.socials-link {
  display: block;
  background-color: #81B3D2;
  width: 46px;
  height: 48px;
  margin: 3px;
  position: relative;
}

.socials-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.socials-item {
  width: 46px;
  height: 48px;
  margin-right: 5px;
}

.socials-link:hover {
  background-color: #669EC0;
}

.facebook::after {
  background-image: url("../img/fb-icon.svg");
}

.twitter::after {
  background-image: url("../img/twitter.svg");
}

.youtube::after {
  background-image: url("../img/youtube.svg");
}

.socials-link:active {
  background: #5496BD;
}

.socials-link:active::after {
  opacity: 0.3;
}

.socials {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  text-align: center;
  padding: 0;
  padding-right: 15px;
  padding-top: 35px;
  margin: 0 auto;
}

.socials-link {
  display: block;
  width: 100%;
  height: 100%;
}

.academy {
  padding: 30px 140px 40px 0;
  margin: 0 auto;
}

.academy-link {
  transform: translateY(27%);
}

.academy::before {
  content: "Website by";
  padding-right: 6px;
}

.academy-link:hover {
  fill: var(--block-blue);
  z-index: 100000;
}

.academy-link:active {
  fill: var(--academy-grey);
}

/*Headers*/

.reasons-head {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0 auto;
  margin-bottom: 0px;
  width: 155px;
  margin-bottom: 27px;
}

.reasons-head1,
.reasons-head2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0 auto;
  width: 155px;
  margin-bottom: 27px;
}

.reasons-head2 {
  padding-top: 49px;
}

.reasons-item {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  outlinex: 5px solid rgb(24, 170, 19);
  outline-offset: -5px;
  width: 100%;
}

.reasons-item--more {
  width: 33.3%;
  padding-top: 47px;
  padding-bottom: 54px;
}

.more-reason-text {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  width: 259px;

}

.choice {
  font-family: "PTSans", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 58px;
  margin: auto;
  margin-bottom: 28px;
}

.formhead {
  padding-top: 26px;
  font-size: 16px;
}



/*Forms*/

.hotels-search {
  padding: 30px 124px 30px 124px;
  background: #766357;
  text-align: center;
  font-size: 21px;
  color: var(--main-white);
  width: 568px;
  margin: 0 auto;
  box-sizing: border-box;
  cursor: pointer;
}

.hotels-search:hover {
  background-color: #604E43;
}

.hotels-search:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.3);
}


.date1 {
  margin: 0 22px 0 0;
}

.date2 {
  margin: 0 22px 0 0;
}

.arrive {
  margin: 54px 48px 27px 55px;
  position: relative;
}

.depart {
  margin: 0 48px 29px 52px;
  position: relative;
}

.date-field {
  width: 338px;
  height: 34px;
  background-color: #F2F2F2;
  border: none;
  background: #F2F2F2;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "PTSans";
  font-weight: 700;
  border: 2px solid transparent;
}

.date-field input.TextInput {
  padding-left: 10px;
}

.calendar {
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
}

.calendar-pic {
fill: #A9A9A9;
}

.calendar-pic:hover {
  fill: var(--text-black);
}

.calendar-pic:active {
  fill: var(--std-blue);
}

.kids {
  margin-left: 52px;
  line-height: 34px;
  margin-right: 28px;
}

.adults {
  margin-right: 42px;
  line-height: 34px;
}

.adults, .kids, .date1, .date2 {
  font-weight: 700;
}

.complex-input-container {
  background: #F2F2F2;
  width: 114px;
  height: 38px;
  position: relative;
  outline: none;
}

.minus {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  vertical-align: middle;
}

.minus-pic {
  fill: var(--dark-grey);
}

.minus-pic:hover {
  fill: var(--text-black);
}

.minus-pic:active {
  fill: var(--std-blue);
}

.plus {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 100%;
  text-align: center;
  line-height: 39px;
  vertical-align: middle;
}

.plus-pic {
  fill: var(--dark-grey);
}

.plus-pic:hover {
  fill: var(--text-black);
}

.plus-pic:active {
  fill: var(--std-blue);
}

.complex-input {
  width: 30px;
  height: 100%;
  margin-left: 42px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "PTSans";
  font-weight: 700;
  text-align: center;
  background: none;
}


/*убираем стрелки в input*/

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*убираем стрелки в input-конец*/

.date-field:hover {
  background-color: #EBEBEB;
}

.date-field:focus {
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
  outline: none;
}

.people {
  display: flex;
  padding-left: 55px;
  margin-bottom: 34px;
}

.form-input2 {
  margin-left: 42px;
}

.button {
  width: 458px;
  height: 58px;
  background: #81B3D2;
  color: var(--main-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  font-family: "PTSans", Arial, sans-serif;
  font-style: normal;
  border: none;
  transform: translateX(12%);
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 55px;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #669EC0;
}

.button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}

.button3 {
  font-family: "PTSans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background: transparent;
  color: var(--main-white);
  padding: 8px 37px 8px 37px;
  margin-top: 50px;
  margin-left: 80px;
}

.button3:hover {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--text-black);
}

.button1:focus, .button2:focus, .button3:focus {
  outline: none;
}

.search-form {
  background: #766357;
  font-family: inherit;
  background: #FFFFFF;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.search-form-text {
  margin: 0 auto;
  padding: 0;
  width: 445px;
  margin-bottom: 43px;
  text-align: center;
}


.search-container {
  background: #ffffff;
  position: relative;
  z-index: 6;
}

.search-form-container {
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  margin: 0 auto;
  width: 568px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: all 2s;
  z-index: 1;
}

.search-form-container-hidden {
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  margin: 0 auto;
  width: 568px;
  background: #fff;
  position: absolute;
  left: 50%;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  transition: all 2s;
  z-index: 1;
}

.form-input {
  font-weight: bold;
}

.map {
  height: 594px;
  position: relative;
}

.map-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

}

.map-iframe {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

/*Hotels*/

.hotel-list {
  outlinex: 5px solid rgb(231, 127, 17);
  outline-offset: -5px;
  margin: -18px auto;
  width: 1200px;
  background: #FFFFFF;
}

.form {
  background: url("../img/formbackground.png") no-repeat center center;
}

.facilities {
  padding-left: 72px;
  font-size: 14px;
}

.accomodation {
  padding-left: 116px;
}

.price {
  padding-left: 349px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 1;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
}


.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 17px 16px 0px;
}

.custom-checkbox + label:hover {
  background: url("../img/checkbox-on.svg") no-repeat left center;
}

.custom-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: left center;
}


.imp {
  color: var(--main-white);
  margin: -18px auto;
  display: flex;
  justify-content: flex-start;
  height: 217px;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 35px;
}

.results {
  display: flex;
  margin: -18px auto;
}

.found {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 73px;
  padding-top: 8px;
}

.sort-line {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  margin-left: 44px;
  margin-top: 11px;
}

.sort-header {
  font-family: "PTSans";
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.sort-type {
  display: inline-flex;
  list-style-type: none;
  padding-left: 40px;
  margin-top: 20px;
}

.sort-link {
  opacity: 0.3;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.sort-link:hover {
  color: var(--std-blue);
  opacity: 1;
}

.sort-link:hover:active {
  color: var(--text-black);
  text-decoration: none;
}

.by-type {
  padding-left: 33px;
}

.by-price {}

.by-rate {
  padding-left: 33px;
}

.hotel {
  margin: 0 auto;
  padding: 30px 0 30px 73px;
}

.hotelname {
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
}

.hotelname:hover {
  color: #81B3D2;
}

.hotelname:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-image {
  padding-right: 30px;
}

.rate {
  padding-left: 308px;
  margin: 0 auto;
  padding-top: 64px;
}

.rate::before {
  content: "";
  width: 80px;
  height: 17px;
  background-color: red;
  margin: 0 auto;
  display: block;
}

.rate-amara::before {
  background: url("../img/star.png") repeat center center;
}

.rate-villas::before {
  background: url("../img/star.png") repeat center center;
}

.rate-desert::before {
  background: url("../img/star.png") repeat center center;
}

.button1,
.button2 {
  height: 27px;
  border: none;
  color: var(--main-white);
  text-transform: uppercase;
  font-weight: bold;
  margin: auto;
}

.button1 {
  background-color: #81B3D2;
  width: 110px;
}

.button1:hover {
  background-color: #669EC0;
}

.button1:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}

.button2 {
  background-color: #766357;
  width: 142px;
}

.button2:hover {
  background-color: #604E43;
}

.button2:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503E33;
}

.hotel {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  border-bottom: solid 1px #E5E5E5;
}

.hotelname {
  margin: 0 auto;
}

.main-footer-hotels {
  margin: 0 auto;
  background-color: inherit;
  background-color: rgb(255, 255, 255);
  border-top: solid 1px #E5E5E5;
}

.modal-error {
  animation: shake 1s;
}

@keyframes shake {

  0%,
  100% {
    transform: translate(-50%, 100%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    /* transform: translateX(-10px); */
    transform: translate(calc(-1 * (50% - 10px)), 100%);
  }

  20%,
  40%,
  60%,
  80% {
    /* transform: translateX(10px); */
    transform: translate(calc(-1 * (50% + 10px)), 100%);
  }
}
